.PageLoading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.PageLoading .PageLoading-logo {
  max-width: 500px;
}
